{% extends 'main/base.html'%}

{% block title%}
Board
{% endblock %}

{% block head%}
<link  href="http://fonts.googleapis.com/css?family=Neucha&subset=cyrillic" rel="stylesheet" type="text/css" >
<style type="text/css">
    .titel-notes{
        font-size:150%;
        font-weight:bold;
        padding-bottom:10px;

    }
    .text-notes {
        font-family:"Neucha",serif;
        font-size:120%;


    }
   .coupon:hover, .coupon:focus{
        -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
        -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
        box-shadow:10px 10px 7px rgba(0,0,0,.7);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        position:relative;
        z-index:5;

   }

   .coupon {
       -o-transform:rotate(-3deg);
       -webkit-transform:rotate(-3deg);
       -moz-transform:rotate(-3deg);
       position:relative;
       top:5px;

       margin: 0 auto; /* Center the coupon */
       max-width: 800px;

       /* Firefox */
       -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
       /* Safari+Chrome */
       -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
       /* Opera */
       box-shadow: 5px 5px 7px rgba(33,33,33,.7);
   }
   .add-img{
        margin: 0 right;
        width: 55px;
        position: fixed;
        right: 30px;
        bottom: 25px;
   }
   .add-img:hover, .add-img:focus{
        -webkit-transform: scale(1.1);
   }
    .crap-img{
        margin: 0 right;
        width: 10%;
        position: absolute;
        right: -5px;
        top: -7px;

    }

   .containers-title{
    padding: 0px 16px;
   }

   .containers {
        padding: 2px 16px;
   }

   .expire {
       font-family:"Neucha",serif;
       color: gray;
       font-size:80%;
   }
   .reaction-img{
        width: 10px;
        height: 10px;
        margin-right: 1px;
        margin-bottom: 1px;
   }


</style>

{% endblock %}

{% block content%}

    <h4>Questions</h4>
    <a href="{% url 'server-create'%}"><img  class="add-img"  src="https://i.imgur.com/Cazmill.png"></a>


    {% if tasks %}

    {% for el in tasks %}
        <div class="column">
            <div class="coupon" style="{% if el.color == 'red' %}
                                            background-color: #EF9F6B;
                                        {% endif %}

                                        {% if el.color == 'yellow' %}
                                            background-color:  #E3DA53;
                                        {% endif %}
                                        {% if el.color == 'blue' %}
                                            background-color: #6BBEE5;
                                        {% endif %}

                                        {% if el.color == 'green' %}
                                            background-color:  #8CE870;
                                        {% endif %}">
                <img class="crap-img" src="https://i.imgur.com/kX19d4S.png">
                <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'server-views-notes' el.id%}">
                  <div class="containers-title" >

                      <h4 class="titel-notes">{{ el.title}}</h4>
                      {{el.pk}}

                  </div>

                  <div class="containers">
                    <p class="text-notes">{{ el.task}}</p>
                    <p class="expire">
                        {{ el.author }}
                        {{ el.time_create }}
                        <img class="reaction-img" src="https://i.imgur.com/fgAIs12.png">
                        {{el.reaction_count_in_post.count}}
                    </p>

                  </div>

                </a>
            </div>
        </div>

    {% endfor %}
    {% else %}
        <p> We don`t have notes </p>
    {% endif %}
{%endblock%}